## UNIÓN DE LOS DATASET DE PRECIOS Y ANALISIS DE SENTIMIENTOS

In [1]:
import pandas as pd

Leemos el dataset del historico de precios y los indicadores técnicos

In [2]:
df_prices_TI = pd.read_csv('BTC_DF.csv', index_col='Date')

In [3]:
df_prices_TI.index = pd.to_datetime(df_prices_TI.index)

In [4]:
df_prices_TI.head()

,Open,High,Low,Close,Volume,SMA_14,EMA_26,EMA_12,MACD,MACDs,ATR,OBV
Date,,,,,,,,,,,,
2015-01-01,320.434998,320.434998,314.002991,314.248993,8036550,321.108355,331.283191,320.549943,-10.735773,-11.077486,11.291673,-157728482.0
2015-01-02,314.079010,315.838989,313.565002,315.032013,7860650,320.907571,330.079400,319.701031,-10.380708,-10.938131,10.647321,-149867832.0
2015-01-03,314.846008,315.149994,281.082001,281.082001,33054400,317.416571,326.449963,313.759642,-12.692487,-11.289002,12.320786,-182922232.0
2015-01-04,281.145996,287.230011,257.612000,264.195007,55629100,313.370287,321.838485,306.134313,-15.706176,-12.172437,13.556685,-238551332.0
2015-01-05,265.084015,278.341003,265.084015,274.473999,43962800,309.269431,318.330005,301.263496,-17.068365,-13.151622,13.598791,-194588532.0

-------------------

Leemos el dataset del analisis de sentimientos

In [5]:
df_sentiment = pd.read_csv('BTC_sentiment.csv', index_col='Date')

In [6]:
df_sentiment.index = pd.to_datetime(df_sentiment.index)

In [7]:
df_sentiment = df_sentiment.drop(['articles' ], axis=1)

In [8]:
df_sentiment.head()

            Subjectivity  Polarity  sentiment  negative  positive  neutral
Date
2018-02-25      0.441667  0.220833     0.7788     0.021     0.087    0.892
2018-02-26      0.446667  0.010000    -0.6597     0.080     0.037    0.883
2018-02-27      0.518506  0.001623    -0.6705     0.073     0.034    0.892
2018-02-28      0.459091  0.039394     0.4939     0.038     0.093    0.869
2018-03-01      0.335000 -0.083333    -0.1543     0.097     0.081    0.822

-------------------

Juntamos los datasets por el indice timestamp

In [9]:
df = pd.merge(df_prices_TI, df_sentiment, left_index=True, right_index=True)

In [10]:
df

,Open,High,Low,Close,Volume,SMA_14,EMA_26,EMA_12,MACD,MACDs,ATR,OBV,Subjectivity,Polarity,sentiment,negative,positive,neutral
Date,,,,,,,,,,,,,,,,,,
2018-02-25,9796.419922,9923.219727,9407.059570,9664.730469,5706939904,10156.257952,10134.177741,10078.064620,-56.113122,-174.033087,953.619535,1.290495e+11,0.441667,0.220833,0.7788,0.021,0.087,0.892
2018-02-26,9669.429688,10475.000000,9501.730469,10366.700195,7287690240,10259.124372,10151.401627,10122.470093,-28.931534,-145.012777,955.023106,1.363372e+11,0.446667,0.010000,-0.6597,0.080,0.037,0.883
2018-02-27,10393.900391,10878.500000,10246.099609,10725.599609,6966179840,10411.073661,10193.934811,10215.259249,21.324439,-111.745334,931.978626,1.433033e+11,0.518506,0.001623,-0.6705,0.073,0.034,0.892
2018-02-28,10687.200195,11089.799805,10393.099609,10397.900391,6936189952,10475.592983,10209.043372,10243.357886,34.314514,-82.533364,915.173024,1.363672e+11,0.459091,0.039394,0.4939,0.038,0.093,0.869
2018-03-01,10385.000000,11052.299805,10352.700195,10951.000000,7317279744,10531.635812,10264.003122,10352.225904,88.222782,-48.382135,899.774923,1.436844e+11,0.335000,-0.083333,-0.1543,0.097,0.081,0.822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-20,24336.623047,25020.458984,23927.910156,24829.148438,28987376573,23118.348772,22932.937262,23662.873854,729.936592,595.598717,798.836485,1.310770e+12,0.575510,0.102041,0.1952,0.113,0.136,0.751
2023-02-21,24833.048828,25126.851562,24200.363281,24436.353516,31252098714,23202.067522,23044.301429,23781.870725,737.569296,623.992832,807.954471,1.279518e+12,0.350000,0.083333,0.8225,0.035,0.124,0.841
2023-02-22,24437.417969,24472.339844,23644.318359,24188.843750,30199996781,23291.313616,23129.082342,23844.481959,715.399618,642.274189,809.387829,1.249318e+12,0.283333,0.166667,-0.1027,0.052,0.040,0.908
2023-02-23,24190.718750,24572.089844,23693.919922,23947.492188,30476264066,23443.345982,23189.705293,23860.329687,670.624394,647.944230,814.300835,1.218842e+12,0.334407,0.057197,-0.2382,0.072,0.073,0.855
2023-02-24,23946.007812,24103.705078,23007.072266,23198.126953,26811744928,23553.841936,23190.329120,23758.452343,568.123223,631.980029,834.467405,1.192030e+12,0.733333,0.250000,0.7960,0.000,0.083,0.917

Comprobamos si faltan observaciones en el horizonte temporal

In [11]:
pd.date_range(start = '2018-02-25', end = '2023-02-24' ).difference(df.index)

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

Comprobamos los tipos de datos

In [12]:
df.dtypes

Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
SMA_14          float64
EMA_26          float64
EMA_12          float64
MACD            float64
MACDs           float64
ATR             float64
OBV             float64
Subjectivity    float64
Polarity        float64
sentiment       float64
negative        float64
positive        float64
neutral         float64
dtype: object

Vemos si hay algun valor nulo

In [13]:
df.isna().sum()      # Comprobamos que no haya valores nulos

Open            0
High            0
Low             0
Close           0
Volume          0
SMA_14          0
EMA_26          0
EMA_12          0
MACD            0
MACDs           0
ATR             0
OBV             0
Subjectivity    0
Polarity        0
sentiment       0
negative        0
positive        0
neutral         0
dtype: int64

Guardamos en dataset final para trabajar con él

In [14]:
df.to_csv('BTC_sentiment_price.csv', encoding='utf-8')